<footer class="page-footer size-font-sm">
  <div class="page-footer-container container">
    <div class="stack gap--1">
      <h2 class="size-font-xl">Got questions?</h2>
      <p>Reach me at woojinp1994 [at] gmail.com</p>
    </div>
    <div class="stack gap--1 page-footer-end">
      <ul class="page-footer-socials">
        {%- assign networks = socials | entries -%}
        {%- for network in networks -%}
        {%- assign id = network | first -%}
        {%- if id != "twitter" -%}
        {%- assign data = network | last -%}
        <li>
          <a href="{{ data.url }}" target="_blank" rel="noreferrer noopener" class="outline-offset to-underline">
            {{ data.name }}
          </a>
        </li>
        {%- endif -%}
        {%- endfor -%}
        <li>
          <a href="/sitemap.xml" class="outline-offset to-underline">
            Sitemap
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>