{%- assign imageSrc = page.inputPath | pathParse: 'dir' | pathJoin: src -%}

{%- comment -%}
If `linkUrl` is passed, we wrap the image in a clickable link.
{%- endcomment -%}
{% if linkUrl %}
  <a href="{{ linkUrl }}" style="display: block; width: 100%; height: 100%; text-decoration: none;">
{% endif %}

  {%- include "image.html" 
      src: imageSrc, 
      alt: alt, 
      baseFormat: baseFormat, 
      formats: formats, 
      widths: widths, 
      sizes: sizes, 
      className: className, 
      isLazy: isLazy 
  %}

{% if linkUrl %}
  </a>
{% endif %}
